<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" disabled="true">User Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/accountManagement/save">Insert Person</a></li>
      <li><a routerLink="/accountManagement/search">Search Person</a></li>
      <li><a routerLink="/accountManagement/roleManagement">Role Management</a></li>
      <li><a routerLink="/home">Back To Home</a></li>
      <li><a class="text-danger" href="/">Log Out</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
