<h2>Search Book</h2>
<form class="container" [formGroup]="bookForm">
  <div class="form-control">
    <label for="bookName">book name</label>&nbsp;
    <input formControlName="bookName" name="bookName" id="bookName" placeholder="Enter book Name"/>
  </div>
  <div class="form-control">
    <label for="isbn">International Standard Book Number</label>&nbsp;
    <input formControlName="isbn" name="isbn" id="isbn" required
           placeholder="Enter International Standard Book Number(isbn)"> &nbsp;<span class="text-danger">*</span>
  </div>
  <div class="form-control">
    <label for="authorName">Author Name</label>&nbsp;
    <input formControlName="authorName" name="authorName" id="authorName" placeholder="Enter authorName">
  </div>

  <div class="form-control">
    <label for="authorName">Classification</label>
    <input formControlName="classification" name="classification" id="classification"
           placeholder="Enter classification">
  </div>
  <button type="submit" class="btn btn-primary" (click)="searchBook()">search</button>
  <button type="submit" class="btn btn-primary" (click)="referBook()">ReferBook</button>
</form>
<br>
<hr>
<br>
  <div class="container" *ngIf="bookResponseObject">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <table class="table table-bordered table-hover" id="tab_logic">
          <thead>
          <tr>
            <th class="text-center">
              bookname
            </th>
            <th class="text-center">
              authorName
            </th>
            <th class="text-center">
              isbn
            </th>
            <th class="text-center">
              classification
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <input type="text" placeholder="{{bookResponseObject.bookName}}"/>
            </td>
            <td>
              <input type="text" formControlName='authorName' placeholder="{{bookResponseObject.authorName}}"/>
            </td>
            <td>
              <input type="text" formControlName='isbn' placeholder="{{bookResponseObject.isbn}}" disabled/>
            </td>
            <td>
              <input type="text" formControlName='classification' placeholder="{{bookResponseObject.classification}}"
              />
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

