<div class="container">
    <div id="legend">
      <legend class="">Sign up</legend>
    </div>
    <div class="control-group" [formGroup]="userForm" (ngSubmit)="Register()">
      <!-- Username -->
      <label>Username</label>
        <input type="text" formControlName="username" name="username">
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
    </div>

      <!-- Password-->
      <label>Password</label>
      <div class="controls">
        <input type="text" formControlName="password" name="password">
        <p class="help-block">Password should be at least 4 characters</p>
      </div>

      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Register</button>&nbsp;
        <button class="btn btn-danger" routerLink="/">Back</button>
      </div>
</div>
