<h2>Insert New User</h2>
<form class="container" [formGroup]="userForm">
  <div class="form-control">
    <label for="name">Name</label>&nbsp;
    <input formControlName="name" name="name" id="name" placeholder="Enter Name">
  </div>

  <div class="form-control">
    <label for="family">Family</label>&nbsp;
    <input formControlName="family" name="family" id="family" placeholder="Enter Family">
  </div>

  <div class="form-control">
    <label for="birthDate">BirthDate</label>&nbsp;
    <input type="date" formControlName="birthDate" name="birthDate" id="birthDate" placeholder="Enter BirthDate">
  </div>

  <div class="form-control">
    <label for="address">Address</label>&nbsp;
    <input formControlName="address" name="address" id="address" placeholder="Enter Address">
  </div>

  <div class="form-control">
    <label for="nationalCode">NationalCode</label>
    <input type="text" maxlength="10" minlength="8" formControlName="nationalCode" name="nationalCode" id="nationalCode"
           placeholder="Enter nationalCode">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form>
